{:duct.profile/base
 {:duct.core/project-ns work

  :duct.router/ataraxy
  {:routes {
            [:get "/" name] [:work.handler/hello name]
            [:get "/another"] [:work.handler/another]}}

  :work.handler/hello {}
  :work.handler/another {}}

 :duct.profile/dev   #duct/include "dev"
 :duct.profile/local #duct/include "local"
 :duct.profile/prod  {}

 :duct.module/logging {}
 :duct.module.web/site
 {}}
