{:duct.profile/base
 {:duct.core/project-ns work

  :duct.router/ataraxy
  {:routes {[:get "/" name] [:work.handler/hello name]}}

  :work.handler/hello {}}

 :duct.profile/dev   #duct/include "dev"
 :duct.profile/local #duct/include "local"
 :duct.profile/prod  {}

 :duct.module/logging {}
 :duct.module.web/site
 {}}
